## Assignment
Please upload your solutions to the following assignments as Jupyter Notebook to your GitHub account and share the GitHub link with the button below. You can talk to your mentor about the issues you have in mind or ask Slack at office time.

1. Analyze the central tendency and distribution measurements with the mathematical formula given above and the built-in codes available in python through 3 different data that you will generate using the numpy library !!!

In [2]:
import pandas as pd
import numpy as np

data = pd.DataFrame()
data['Schooling'] = np.append(np.random.normal(11,6,100 ), np.random.normal(8,3,100))
data['Income'] = np.append(np.random.normal(70000, 10000, 100), np.random.normal(45000,5000, 100))
data['Age'] = np.random.randint(25,65, size=200)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Schooling  200 non-null    float64
 1   Income     200 non-null    float64
 2   Age        200 non-null    int32
dtypes: float64(2), int32(1)
memory usage: 4.0 KB

In [4]:
data.head()

   Schooling        Income  Age
0  13.079544  65005.375256   30
1   8.058542  68978.073105   60
2   1.819830  74677.845811   38
3  12.936778  78490.842000   55
4  11.521158  57790.043805   38

In [5]:
print(np.mean(data.Schooling))
print(np.var(data.Income))
print(np.std(data.Age))

9.074058689993377
257981931.86428174
11.656799517877968