# Assignment

- In this assignment, you are going to use your model to predict survival of the Titanic disaster. For this assignment, send a link to a Jupyter notebook containing solutions to the following tasks.
    - Download [Titanic](https://www.kaggle.com/c/titanic/data) data from Kaggle. The data in the train.csv file meets your need.
    - Split your data into training and test sets.
    - Predict the survival based on the test data you split by creating your model.
    - Is your model's performance satisfactory? Explain.
    - Try to improve your model's performance by adding or subtracting some variables. <br>

- Explore the advantages and disadvantages of Logistic Regression and discuss with your mentor.

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [80]:
titanic = pd.read_csv('train.csv')

In [81]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [82]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [83]:
titanic[['2nd_class','3rd_class']] = pd.get_dummies(titanic.Pclass,drop_first=True)

In [84]:
titanic['is_male'] = pd.get_dummies(titanic.Sex, drop_first=True)

In [85]:
titanic['is_male'] = pd.get_dummies(titanic.Sex, drop_first=True)

In [86]:
Y = titanic.Survived

In [99]:
X = titanic[['2nd_class','3rd_class', 'is_male', 'Fare' ]]

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 465)

In [101]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs', multi_class="ovr")
log_reg.fit(X_train, y_train)

LogisticRegression(multi_class='ovr')

In [102]:
#coefficients and intercept
print(log_reg.coef_, log_reg.intercept_)

[[-0.45155735 -1.59286598 -2.52783514  0.00340374]] [1.91636377]

In [92]:
train_accuracy = log_reg.score(X_train, y_train)
test_accuracy = log_reg.score(X_test, y_test)

print('One-vs.-Rest', '-'*30, 
      'Accuracy on Train Data : {:.2f}'.format(train_accuracy), 
      'Accuracy on Test Data  : {:.2f}'.format(test_accuracy), sep='\n')

One-vs.-Rest
------------------------------
Accuracy on Train Data : 0.78
Accuracy on Test Data  : 0.78

Accuracy of the model both on train and test data is $ 0.78 $. Since they are eqaul, we can say that model does not overfit. However we can further increase the model performance by adding new variables.

### Adding new variables

In [93]:
X = titanic[['2nd_class','3rd_class', 'is_male', 'Fare', 'SibSp', 'Parch' ]]

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 465)

In [95]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs', multi_class="ovr")
log_reg.fit(X_train, y_train)

LogisticRegression(multi_class='ovr')

In [96]:
train_accuracy = log_reg.score(X_train, y_train)
test_accuracy = log_reg.score(X_test, y_test)

print('One-vs.-Rest', '-'*30, 
      'Accuracy on Train Data : {:.2f}'.format(train_accuracy), 
      'Accuracy on Test Data  : {:.2f}'.format(test_accuracy), sep='\n')

One-vs.-Rest
------------------------------
Accuracy on Train Data : 0.79
Accuracy on Test Data  : 0.79

Adding new variables increased the `Accuracy` score only by %0.01.

### Advantages - Disadvantages

Logistic Regression makes a classification based on regression and provide us the results, namely the classes that specific observation belongs. Since it uses linear function to identify the classes, it is not usefull for nonlinear relationships.   
On the other hand, it is easy to implement and provide interpretation about the effects of features on the response variable.